.lian{
	padding-bottom: 20px;
	width: 1000px;
	margin: auto;
	background: white;
}
.lian .title{
	margin-left:60%;
	margin-bottom: 5px;
}
.lian .title >*{
	width: 50px;
	border:0;
	line-height: 20px;
	height: 20px
}
.lian .title> input{
	outline: 0;
	bottom: 0;
	border-bottom:1px solid #aaaaaa
}
.lian .content{
	background: white;
	width: 100%;
	margin: 0 auto;
	outline: 0;
	outline:1px solid #aaaaaa;
	margin-bottom: 20px;
}

/*.lian table{
	border-collapse:collapse;
}*/
.lian td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center
}
.lian .first{
	width: 60px;
}
.lian .second{
	width: 40px;
}
.lian .third{
	width: 60px;
}
.lian .four{
	width: 80px;
}