
.cheliang{
	padding-bottom: 20px;
	width: 100%;
	margin: auto;
	}
.cheliang .title{
	margin-left:70%;
	margin-bottom: 5px;
}
.cheliang .title >*{
	width: 50px;
	border:0;
	line-height: 20px;
	height: 20px
}
.cheliang .title> input{
	outline: 0;
	bottom: 0;
	border-bottom:1px solid #aaaaaa
}
.cheliang .content{
	background: white;
	width: 100%;
	margin: 0 auto;
	outline: 0;
	outline:1px solid #aaaaaa;
	margin-bottom: 20px;
	
}
.cheliang table{
	border-collapse:collapse;
}
.cheliang td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center
}
.cheliang .footerb p{
	line-height: 30px;
}
.cheliang .footerb .down{
	margin-top: 30px;
}
.cheliang .footer{
	margin-top: 50px;
	line-height: 30px;
	float:right;
}
.cheliang input {
	width: 95%;
}