.xingzhengchufajuedingshu{
	width: 100%;
}
.xingzhengchufajuedingshu table{
	border-collapse:collapse;
	width: 100%;
}
.xingzhengchufajuedingshu td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center
}
.xingzhengchufajuedingshu input,textarea{
	width: 100%;
	border: 0;
	outline: 0
}
.xingzhengchufajuedingshu .title{
	width: 100px;
	margin-bottom: 5px;
	border-bottom: 1px solid #aaaaaa;

}

.xingzhengchufajuedingshu  .time{
	width: 50px;
/*	border-bottom: 1px solid #AAAAAA*/
}
.xingzhengchufajuedingshu p{
	width: 100%;
	text-align: left;
	line-height: 30px;
	text-indent: 40px;
}