.weifaxingweitongzhishu {
	width: 100%;
	margin-bottom: 20px;
}
.weifaxingweitongzhishu input{
	border: 0;
	border-bottom:1px solid #aaaaaa;
}
.weifaxingweitongzhishu p{
	line-height: 35px;
}
.weifaxingweitongzhishu .time{
	width: 80px;
}
