.zhengju{
	width: 1000px;
	margin: 0 auto;
	padding-bottom:40px;
}
.zhengju div{
	display: block;
	background: white;
	width: 100%;
	margin: 0 auto;
	outline: 0;
	outline:1.5px solid #aaaaaa;
	margin-bottom: 20px;
	

}
.zhengju table{
	border-collapse:collapse;
}
.zhengju td{
	border:1px solid #aaaaaa;
	height: 40px;
}
.zhengju .title{
	width: 60px;
	text-align: center;
}
.zhengju .small{
	width: 80px;
	text-align: center;
	
}
.zhengju .middle{
	margin-top: 20px;
	text-indent: 20px;
	line-height: 20px;
}
.zhengju .down{
	margin: 0 auto;
	margin-top: 50px;
	border: 0;

}
.zhengju .down p{
	float:left;
}
.zhengju .footer{
	margin-top: 50px;
	line-height: 30px;
	float:right;
}


