.xianchang{
	width: 1000px;
	margin: 0 auto;
	background: white;
	padding-bottom: 20px;
}
.xianchang .content{
	background: white;
	width: 100%;
	margin: 0 auto;
	outline: 0;
	outline:1px solid #aaaaaa;
	margin-bottom: 20px;
}
.xianchang table{
	border-collapse:collapse;
}
.xianchang td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center
}
.xianchang .first{
	width: 60px;
}
.xianchang .second{
	width: 120px;
}
.xianchang .third{
	width: 300px;
}
.xianchang td p{
	line-height: 40px;
}