.headerss{
	width: 100%;


}

.headerss .titless{
	overflow: hidden;
}
.headerss h2{
	float:left;
	text-align: left;
	font-size: 26px;
	text-indent: 30px;
	line-height: 60px;
	text-shadow:4px 4px 6px #cccccc;
	color:#FAFAFA;
}
.headerss .logoutss{
	font-size: 14px;
	color:white;
	text-indent: 10px;
	cursor: pointer;
	line-height: 20px;
	float:right;
	margin-top: 30px;
	margin-right: 20px;
}
.headerss .headss{
	width: 100%;
	overflow: hidden;
	background:linear-gradient(#B7B7B7,#FFF0F5,#BCD2EE);
	
}
.headerss .headss p{
	line-height: 25px;
	text-indent: 5px; 
}




.headerss .contentss{
	width: 100%;
	background: radial-gradient(#FFF0F5,#B7B7B7);
	overflow: hidden;

}
.headerss .sidebarss{
	width: 20%;
	background: white;
	margin-top: 5px;
	margin-bottom:5px;
	border-radius: 5px;
	margin-left: 1%;
}
.headerss .sidebarss{
	width: 25%;
	background: white;
	margin-top: 5px;
	margin-bottom:5px;
	border-radius: 5px;
	margin-left: 5px;
	float:left;
	padding-bottom: 200px; 
}
.headerss .sidebarss ul{
	list-style: none;
	padding-bottom: 20px;

}
.headerss .sidebarss ul li:nth-child(1){
	margin-top: 40px;
}
.headerss .sidebarss ul li {
	width: 70%;
	border-bottom: 1px dashed #aaaaaa;
	margin: 0 auto;
	line-height: 35px;
	padding-left:5px;
	cursor: pointer;
}
/*.header .sidebar ul li .frist{
	display: none;
}*/
.headerss .sidebarss ul li .second{
	display: inline-block;

	text-indent: 10px;

}
.headerss .sidebarss ul li:hover{
	border-bottom:2px solid #3A5FCD;
	font-weight: bolder;
}
.headerss .sidebarss ul li .second:hover{
	font-weight: bolder;

}
 
.headerss .content1ss{
	width: 73%;
	background: white;
	margin-top: 5px;
	margin-bottom:20px;
	border-radius: 5px;
	margin-right: 1%;
	float:right;
}

.headerss .footerss{
	background-color: #3A5FCD;
	line-height: 30px;
	text-align: center
}
.headerss .titless button{
	background: #3A5FCD;
	width: 100px;
	border-radius: 4px;
	/*border:1px solid #3A5FCD;*/
}
.headerss .content1ss{
	width: 73%;
	height: 725px;	
	overflow: auto;
	/*position: absolute;
	top:88px;
	left:26%;
	right:0;
	bottom:0;*/
	padding:8px;
	

}
.headerss .content1ss p 	i{
	display: block;
	font-size: 50px;
	margin: 0 auto;
	font-weight: bolder;
	text-align: center;
	margin-top: 200px;
	line-height: 80px;
	text-shadow:5px 5px 5px #aaaaaa;
	color:white;
	/*position: relative;
	top:0px;
	left:0;
	right:0;
	bottom:0;*/
	
	
}


/*<p><i>秦皇岛市交通运输<br/>行政执法系统</i></p>*/