.list{
	width: 1000px;
	margin: 0 auto;

}
.list .content{
	background: white;
	width: 100%;
	margin: 0 auto;
	outline: 0;
	outline:1.5px solid #aaaaaa;
	margin-bottom: 20px;
	
}
.list table{
	border-collapse:collapse;
}
.list td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center;
}

/*<td ><input type="text"   style={{'height':'40px','border':'0','outline':'0'}} className='guige2'/></td>
											<td><input type="text"   style={{'height':'40px','border':'0','outline':'0'}} className='seconds2'/></td>
											<td ><input type="text"   style={{'height':'40px','border':'0','outline':'0'}} className='adress2'/></td>
											<td ><input type="text"   style={{'height':'40px','border':'0','outline':'0'}} className='adress1'/></td>*/