.list{
	width: 1000px;
	margin: 0 auto;

}
.list div{
	background: white;
	width: 100%;
	margin: 0 auto;
	outline: 0;
	outline:1.5px solid #aaaaaa;
	margin-bottom: 20px;
	
}
.list table{
	border-collapse:collapse;
}
.list td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center;
}